
services:
  # ======================= DATABASES =======================
  user-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: user_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    volumes:
      - user_db:/var/lib/mysql

  tenant-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: tenant_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    volumes:
      - tenant_db:/var/lib/mysql

  room-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: room_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    volumes:
      - room_db:/var/lib/mysql

  payment-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: payment_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    volumes:
      - payment_db:/var/lib/mysql


  # ======================= SERVICES =======================
  user-service:
    build: ./user-service
    restart: on-failure
    volumes:
      - ./user-service:/app
      - /app/node_modules
    depends_on:
      - user-db
    environment:
      DB_HOST: user-db
      DB_NAME: user_db
      DB_USER: admin
      DB_PASS: password
      JWT_SECRET: secret
    ports:
      - "3001:3001"

  tenant-service:
    build: ./tenant-service
    restart: on-failure
    volumes:
      - ./tenant-service:/app
      - /app/node_modules
    depends_on:
      - tenant-db
    environment:
      DB_HOST: tenant-db
      DB_NAME: tenant_db
      DB_USER: admin
      DB_PASS: password
    ports:
      - "3002:3002"

  room-service:
    build: ./room-service
    restart: on-failure
    volumes:
      - ./room-service:/app
      - /app/node_modules
    depends_on:
      - room-db
    environment:
      DB_HOST: room-db
      DB_NAME: room_db
      DB_USER: admin
      DB_PASS: password
    ports:
      - "3003:3003"

  payment-service:
    build: ./payment-service
    restart: on-failure
    volumes:
      - ./payment-service:/app
      - /app/node_modules
    depends_on:
      - payment-db
    environment:
      DB_HOST: payment-db
      DB_NAME: payment_db
      DB_USER: admin
      DB_PASS: password
    ports:
      - "3004:3004"


  # ======================= FRONTEND =======================
  frontend:
    build: ./frontend
    ports:
      - "5000:5000"
    depends_on:
      - user-service
      - tenant-service
      - room-service
      - payment-service
    env_file:
    - ./frontend/.env.production

  # postgres:
  #   image: postgres:15
  #   container_name: kong-postgres
  #   environment:
  #     POSTGRES_DB: kong
  #     POSTGRES_USER: kong
  #     POSTGRES_PASSWORD: kongpass
  #   volumes:
  #     - kong_pgdata:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"
  #   healthcheck:
  #     test: ["CMD", "pg_isready", "-U", "kong"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 5

  # kong-migrations:
  #   image: kong:3.6
  #   command: kong migrations bootstrap
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   environment:
  #     KONG_DATABASE: postgres
  #     KONG_PG_HOST: postgres
  #     KONG_PG_DATABASE: kong
  #     KONG_PG_USER: kong
  #     KONG_PG_PASSWORD: kongpass
  #   restart: on-failure

  kong:
    image: kong:3.6
    container_name: kong
    volumes:
      - ./kong:/kong/declarative
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/declarative/kong.yaml

      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_ADMIN_GUI_LISTEN: 0.0.0.0:8002

      KONG_LOG_LEVEL: info
    ports:
      - "8000:8000"   # Proxy
      - "8001:8001"   # Admin API (read-only)
      - "8002:8002"   # Kong Manager UI (read-only)
    restart: always

  # deck:
  #   image: kong/deck:latest
  #   container_name: kong-deck
  #   depends_on:
  #     - kong
  #   volumes:
  #     - ./kong:/deck
  #   entrypoint: >
  #     sh -c "
  #       until deck ping --kong-addr http://kong:8001; do sleep 2; done &&
  #       deck sync --kong-addr http://kong:8001 --state /deck/kong.yaml
  #     "
  #   restart: "no"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=password

volumes:
  user_db:
  tenant_db:
  room_db:
  payment_db:
  grafana-data: