apiVersion: apps/v1
kind: Deployment
metadata:
  name: kong
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kong
  template:
    metadata:
      labels:
        app: kong
    spec:
      containers:
        - name: kong
          image: kong:3
          ports:
            - containerPort: 8000
            - containerPort: 8001
          env:
            - name: KONG_DATABASE
              value: "off"
            - name: KONG_ADMIN_LISTEN
              value: "0.0.0.0:8001"
            - name: KONG_PROXY_LISTEN
              value: "0.0.0.0:8000"
            - name: KONG_DECLARATIVE_CONFIG
              value: /kong/kong.yaml
            - name: KONG_PLUGINS
              value: bundled
            - name: KONG_LOG_LEVEL
              value: info
          volumeMounts:
          - name: kong-config
            mountPath: /kong
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "500m"
      volumes:
      - name: kong-config
        configMap:
          name: kong-config