apiVersion: v1
kind: Service
metadata:
  name: kong
  
spec:
  selector:
    app: kong
  ports:
    - name: proxy
      port: 8000
    - name: admin
      port: 8001
    - name: gui
      port: 8002
  type: NodePort
