apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: password
            # - name: GF_SMTP_ENABLED
            #   value: "true"
            # - name: GF_SMTP_HOST
            #   value: "smtp.gmail.com:587"
            # - name: GF_SMTP_USER
            #   value: "thaidev247@gmail.com"
            # - name: GF_SMTP_PASSWORD
            #   valueFrom:
            #     secretKeyRef:
            #       name: grafana-smtp-secret
            #       key: smtp-password
            # - name: GF_SMTP_FROM_ADDRESS
            #   value: "thaidev247@gmail.com"
            # - name: GF_SMTP_FROM_NAME
            #   value: "Grafana Alert"
          volumeMounts:
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
      volumes:
        - name: grafana-datasources
          configMap:
            name: grafana-datasources