apiVersion: apps/v1
kind: Deployment
metadata:
  name: tenant-service
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tenant-service
  template:
    metadata:
      labels:
        app: tenant-service
    spec:
      containers:
        - name: tenant-service
          image: tenant-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3002
          env:
            - name: DB_HOST
              value: tenant-db
            - name: DB_PORT
              value: "3306"
            - name: DB_NAME
              value: tenant_db
            - name: DB_USER
              value: admin
            - name: DB_PASS
              value: password
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi